version: "3.9"

services:
  backend:
    build: ./backend
    container_name: flask_backend
    restart: always
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
